<footer class="section footer-modern footer-modern-2">
    <div class="footer-modern-body section-xl context-dark">
        <div class="container">
            <div class="row row-40 row-md-50 justify-content-xl-between">
                <div class="col-md-10 col-lg-3 col-xl-4 wow fadeInRight">
                    <div class="inset-xl-right-70 block-1">
                        <h5 class="footer-modern-title">
                            <img src="../../assets/AgroPhotos/IMG-20240307-WA0015.jpg" alt="" />
                        </h5>
                        <p>
                            KHARA AgroTech is a subsidiary and an Agriculture arm of ANORG Technologies Pvt. Ltd. We are
                            dedicated to making each farmer's Life full of Happiness, Prosperity and Progress
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-5 wow fadeInRight" data-wow-delay=".1s">
                    <h5 class="footer-modern-title">Important Links</h5>
                    <ul class="footer-modern-list footer-modern-list-2 d-sm-inline-block d-md-block">
                        <li>
                            <a href="#">Our Team</a>
                        </li>
                        <li>
                            <a href="#">New Products</a>
                        </li>
                        <li>
                            <a href="#">Top Sellers</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Smoothies</a>
                        </li>
                        <li>
                            <a href="#">Energy Bowls</a>
                        </li>
                        <li>
                            <a href="#">Juices</a>
                        </li>
                        <li>
                            <a href="#">Ingredients</a>
                        </li>
                        <li>
                            <a href="#">Delivery</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 wow fadeInRight" data-wow-delay=".2s">
                    <h5 class="footer-modern-title">Get in touch</h5>
                    <ul class="contacts-creative">
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left">
                                    <span class="icon mdi mdi-map-marker"></span>
                                </div>
                                <div class="unit-body">
                                    <a href="#">
                                        kharaagrotech&#64;gmail.com
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left">
                                    <span class="icon mdi mdi-phone"></span>
                                </div>
                                <div class="unit-body">
                                    <a href="#">Call us:+91-9174207069</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left">
                                    <span class="icon mdi mdi-email-outline"></span>
                                </div>
                                <div class="unit-body">
                                    <!-- <a href="mailto:#">info@demolink.org</a> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-inline list-social-3 list-inline-sm">
                        <li>
                            <a class="" href="#"></a>
                        </li>
                        <li>
                            <a class="" href="#"></a>
                        </li>
                        <li>
                            <a class="-" href="#"></a>
                        </li>
                        <li>
                            <a class="" href="#"></a>
                        </li>
                        <li>
                            <a class="" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-modern-panel text-center">
        <div class="container">
            <p class="rights">
                <span>&copy;&nbsp;</span>
                <span class="copyright-year"></span>
                <span>&nbsp;</span>
                <span>Livedrink</span>
                <span>.&nbsp;All rights reserved.</span>
                <span>&nbsp;</span>
                <a href="#">Privacy Policy</a>
                <span>.</span>
            </p>
        </div>
    </div> -->
</footer>