<section class="parallax-container bg-img">
    <div class="parallax-content section-xxl context-dark">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-6 col-sm-3" *ngFor="let counter of counters">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">{{ counter.count }}</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">
                            {{ counter.title }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>