<section class="parallax-container" data-parallax-img="images/parallax-2.jpg">
    <div class="parallax-content section-xxl context-dark">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">245</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">
                            New drinks and<br class="d-none d-sm-block">smoothies
                        </h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">382</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">
                            Special<br class="d-none d-sm-block">offers
                        </h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">1267</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">
                            Satisfied<br class="d-none d-sm-block">clients
                        </h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">474</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">
                            Partners throughout<br class="d-none d-sm-block">the USA
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>