<div class="rd-navbar-aside-outer">
    <div class="rd-navbar-aside">
        <div class="rd-navbar-collapse toggle-original-elements">
            <ul class="contacts-classic">
                <li><span class="contacts-classic-title">Call us:</span> <a href="tel:#">+91-9174207069</a></li>
                <li><a href="mailto:#">kharaagrotech&#64;gmail.com</a></li>
            </ul>
            <a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202">
                <span>2</span>
            </a>
        </div>
        <div class="rd-navbar-panel">
            <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                <span></span>
            </button>
            <div class="rd-navbar-brand">
                <a class="brand" href="../">
                    <img class="brand-logo-light" src="../../../assets/AgroPhotos/logo.png" alt="" width="157" height="35">
                </a>
            </div>
        </div>
        <div class="rd-navbar-aside-element">
            <div class="rd-navbar-search rd-navbar-search-2 toggle-original-elements">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="rd-navbar-fixed-element-2 select-inline">
                <select >
                    <option value="en" data-select2-id="3">en</option>
                    <option value="fr" data-select2-id="14">fr</option>
                    <option value="es" data-select2-id="15">es</option>
                  </select>
            </div>
        </div>
    </div>
</div>


<!-- <div class="rd-navbar-panel">
    <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"></button>
    <div class="rd-navbar-brand">
      <a class="brand" href="../">
        <img class="brand-logo-dark" src="../../../assets/AgroPhotos/logo.png" alt="" width="157" height="35">
    </a>
    </div>
  </div> -->