<div class="rd-navbar-aside-outer">
    <div class="rd-navbar-aside">
        <div class="rd-navbar-collapse toggle-original-elements">
            <ul class="contacts-classic">
                <li><span class="contacts-classic-title">Call us:</span> <a href="tel:#">+91-9174207069</a></li>
                <li><a href="mailto:#">kharaagrotech&#64;gmail.com</a></li>
            </ul>
            <a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202">
                <span>2</span>
            </a>
        </div>
        <div class="rd-navbar-panel">
            <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                <span></span>
            </button>
            <div class="rd-navbar-brand">
                <a class="brand" href="../">
                    <img class="brand-logo-light" src="../../../assets/AgroPhotos/IMG-20240307-WA0015.jpg" alt="" width="157" height="35">
                </a>
            </div>
        </div>
        <div class="rd-navbar-aside-element">
            <div class="rd-navbar-search rd-navbar-search-2 toggle-original-elements">
                <button class="rd-navbar-search-toggle rd-navbar-fixed-element-3 toggle-original"
                    data-rd-navbar-toggle=".rd-navbar-search">
                    <span></span>   
                </button>
            </div>
            <div class="rd-navbar-basket-wrap">
                <button class="rd-navbar-basket fl-bigmug-line-shopping202 toggle-original"
                    data-rd-navbar-toggle=".cart-inline">
                    <span>2</span>
                </button>
            </div>
            <div class="rd-navbar-fixed-element-2 select-inline">
            </div>
        </div>
    </div>
</div>