<!-- <app-header></app-header>
<app-top-header></app-top-header> -->

<div class="w-100 h-100">
    <div class="container d-flex justify-content-center pb-5">
        <div class="row d-flex flex-direction-column m-0 p-0" style="width: 30%;">
            <div class="col-lg-12">
                <div style="color: #000000; font-size: 28px; padding-bottom: 5px; font-weight: 500;">Our Mission</div>
                <div class="w-100 d-flex justify-content-center">
                    <div
                        style="width: 70px; height: 1.5px; text-align: center; background-color: darkgreen; margin-bottom: 30px;">
                    </div>
                </div>
                <div style="text-align: justify; font-size: 17px; letter-spacing: 0.5px; color: #000000;">
                    Our mission is to empower small and medium farmers by bringing <span
                        style="color: darkgreen; font-weight: 700;">technology, machinery</span> and <span
                        style="color: darkgreen; font-weight: 700;">quality agri services</span> into hands of farmers.
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5 pb-5 ps-0 pe-0" style="background-color: #c7eec7;">
        <div class="row m-0 p-0">
            <div class="col-lg-12 p-0 m-0">
                <div style="font-size: 30px;font-weight: 500;color: #000000;">One Stop Destination</div>
                <div class="w-100 d-flex justify-content-center pt-3">
                    <div
                        style="width: 70px; height: 1.5px; text-align: center; background-color: darkgreen; margin-bottom: 30px;">
                    </div>
                </div>
                <div class="p-5 pt-1" style="font-size: 17px; color: darkgreen; text-align: justify;">
                    KharaAgrotech is building the much needed basic supply chain infrastructure for farmers to bring
                    technology, machinery and agri services which are already buit or out there into the hands of
                    farmers in States like Bihar, UP and Jharkhand. GreenSupply is one stop destination for all agri
                    service like quality agri inputs, technology, equipments, advisory and market linkage under one roof
                    at farmer's village. We partner with agri business, organizations and institutions to make all agri
                    services accessible and offordable to every farmers.
                </div>
            </div>
            <div class="col-lg-12 p-5 pt-1 d-flex">
                <div class="col-lg-4 p-3">
                    <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                        style="border-radius: 30px;" />
                </div>
                <div class="col-lg-4 p-3">
                    <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                        style="border-radius: 30px;" />
                </div>
                <div class="col-lg-4 p-3">
                    <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                        style="border-radius: 30px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center p-0  pt-5 pb-5">
        <div class="row d-flex flex-direction-column m-0 p-0">
            <div class="col-lg-12 p-0">
                <div style="color: #000000; font-size: 28px; padding-bottom: 5px; font-weight: 500;">Growth & Evolution
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <div
                        style="width: 70px; height: 1.5px; text-align: center; background-color: darkgreen; margin-bottom: 30px;">
                    </div>
                </div>
                <div class="col-lg-12"
                    style="text-align: justify; font-size: 17px; letter-spacing: 0.5px; color: #000000;">
                    KharaAgrotech is evolve after working at grassroot level with farmers to solve their pain
                    (facing with traditional system and farmers dealings with multiple people in process with production
                    and selling). Currently, we are working with 20000+ farmers in Patna, Bihar to support they need and
                    providing all encompassing solution to increase their income.
                </div>
            </div>
            <div class="col-lg-12 p-0 pt-5">
                <div class="w-100 d-flex">
                    <div class="col-4 p-3">
                        <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                            style="border-radius: 30px;" />
                    </div>
                    <div class="col-4 p-3">
                        <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                            style="border-radius: 30px;" />
                    </div>
                    <div class="col-4 p-3">
                        <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                            style="border-radius: 30px;" />
                    </div>
                </div>
                <div class="w-100 d-flex">
                    <div class="col-6 p-3" style="height: 310px;">
                        <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                            style="border-radius: 30px; width: 100%; height: 100%;" />
                    </div>
                    <div class="col-6 p-3" style="height: 310px;">
                        <img src="../../assets/AgroPhotos/farmer_image1.webp" alt="farmer-image"
                            style="border-radius: 30px; width: 100%; height: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>