<section class="section section-xxl bg-image-1">
    <div class="container">
        <h2 class="text-transform-capitalize wow fadeScale">Blog Posts</h2>
        <!-- Owl Carousel-->
        <div class="owl-carousel" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-dots="true"
            data-mouse-drag="false">
            <!-- Post Classic-->
            <article class="post post-classic box-md wow slideInDown">
                <a class="post-classic-figure" href="blog-post.html">
                    <img src="images/post-1-370x239.jpg" alt="" width="370" height="239" />
                </a>
                <div class="post-classic-content">
                    <div class="post-classic-time">
                        <time datetime="2023-08-09">August 9, 2023</time>
                    </div>
                    <h5 class="post-classic-title">
                        <a href="blog-post.html">Can a Smoothie Supercharge Your Day?</a>
                    </h5>
                    <p class="post-classic-text">Most of us would agree – mornings are hectic. Getting yourself
                        and possibly others ready for the day ahead may...</p>
                </div>
            </article>
            <!-- Post Classic-->
            <article class="post post-classic box-md wow slideInUp">
                <a class="post-classic-figure" href="blog-post.html">
                    <img src="images/post-2-370x239.jpg" alt="" width="370" height="239" />
                </a>
                <div class="post-classic-content">
                    <div class="post-classic-time">
                        <time datetime="2023-08-09">August 9, 2023</time>
                    </div>
                    <h5 class="post-classic-title">
                        <a href="blog-post.html">How to Make Your Breakfast Easy and Yummy</a>
                    </h5>
                    <p class="post-classic-text">Overloading your breakfast with calories may not be the best
                        idea but when you need a boost for the upcoming...</p>
                </div>
            </article>
            <!-- Post Classic-->
            <article class="post post-classic box-md wow slideInDown">
                <a class="post-classic-figure" href="blog-post.html">
                    <img src="images/post-3-370x239.jpg" alt="" width="370" height="239" />
                </a>
                <div class="post-classic-content">
                    <div class="post-classic-time">
                        <time datetime="2023-08-09">August 9, 2023</time>
                    </div>
                    <h5 class="post-classic-title">
                        <a href="blog-post.html">Tips from Our Team: Making Yoghurts with Fresh Fruits</a>
                    </h5>
                    <p class="post-classic-text">Combining milk and fruits is the best solution for your daily
                        meal, whether it’s breakfast, lunch, or any other...</p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="section section-lg bg-default">
    <div class="container">
        <div class="owl-carousel owl-style-2" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5"
            data-margin="30" data-dots="true">
            <a class="clients-classic" href="#">
                <img src="images/clients-1-120x114.png" alt="" width="120" height="114" />
            </a>
            <a class="clients-classic" href="#">
                <img src="images/clients-2-105x118.png" alt="" width="105" height="118" />
            </a>
            <a class="clients-classic" href="#">
                <img src="images/clients-3-111x98.png" alt="" width="111" height="98" />
            </a>
            <a class="clients-classic" href="#">
                <img src="images/clients-4-122x92.png" alt="" width="122" height="92" />
            </a>
            <a class="clients-classic" href="#">
                <img src="images/clients-5-112x112.png" alt="" width="112" height="112" />
            </a>
        </div>
    </div>
</section>