<section class="section section-xxl bg-default">
    <div class="container">
        <h2 class="text-transform-capitalize wow fadeScale">Our Products</h2>
        <div class="row row-lg row-30 row-lg-50">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products; let i = index">
                <article class="product wow fadeInRight" [attr.data-wow-delay]="i * 0.1 + 's'">
                    <div class="product-body">
                        <div class="product-figure">
                            <img [src]="product.image" alt="" width="230" height="260" style="height: 260px;" />
                        </div>
                        <h5 class="product-title">
                            <a>{{ product.name }}</a>
                        </h5>
                        <div class="product-price-wrap">
                            <!-- <div class="product-price" *ngIf="product.oldPrice">{{ product.oldPrice }}</div> -->
                            <div class="product-price">{{ product.price }}</div>
                        </div>
                    </div>
                    <span class="product-badge" *ngIf="product.badge">{{ product.badge }}</span>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"><i class="fa fa-search"></i></a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"><i class="fa fa-bucket"></i></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>