<section class="section smoothie-slider" style="min-height: 44.0625vw;">
    <div *ngFor="let slide of slides, let index = index" class="smoothie-slide" [hidden]="index !== currentIndex">
        <img [src]="slide.image">
        <div class="slide-caption section-md" [ngClass]="{'text-sm-start': index === 0, 'text-center': index === 1}">
            <div class="container">
                <h2 class="title-1">{{ slide.title1 }}</h2>
                <h5 class="title-2">{{ slide.title2 }}</h5>
                <div class="button-wrap">
                    <a class="button button-lg button-shadow-4 button-secondary-2 button-zakaria"
                        [href]="slide.buttonLink">Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-buttons">
        <button class="swiper-button-prev" (click)="prevSlide()"></button>
        <button class="swiper-button-next" (click)="nextSlide()"></button>
    </div>
</section>