<section class="section bg-default text-md-start">
    <div class="container">
        <div class="row row-30 row-md-60 row-lg-70 justify-content-center align-items-md-center">
            <div class="col-sm-8 col-md-5 col-xl-6">
                <div class="inset-xl-right-20">
                    <div class="product-wrap-1 bg-image-1 block-1">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-style-5" data-items="1" data-margin="30" data-dots="true"
                            data-autoplay="true">
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="../../assets/images/organic.jpg" alt="" width="470"
                                        height="324" />
                                </div>
                                <h4 class="product-creative-title">
                                    <a href="single-product.html">Aurore Grape</a>
                                </h4>
                                <div class="product-creative-price-wrap">
                                    <div class="product-creative-price product-creative-price-old">$20.00</div>
                                    <div class="product-creative-price">$15.00</div>
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="../../assets/images/organic.jpg" alt="" width="470"
                                        height="324" />
                                </div>
                                <h4 class="product-creative-title">
                                    <a href="single-product.html">Banana Berry</a>
                                </h4>
                                <div class="product-creative-price-wrap">
                                    <div class="product-creative-price product-creative-price-old">$18.00</div>
                                    <div class="product-creative-price">$13.00</div>
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="../../assets/images/organic.jpg" alt="" width="470"
                                        height="324" />
                                </div>
                                <h4 class="product-creative-title">
                                    <a href="single-product.html">Chili Mango</a>
                                </h4>
                                <div class="product-creative-price-wrap">
                                    <div class="product-creative-price product-creative-price-old">$30.00</div>
                                    <div class="product-creative-price">$23.00</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xl-6">
                <h2 class="text-transform-capitalize wow fadeInRight">Why Organic?</h2>
                <!-- Bootstrap collapse-->
                <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist"
                    aria-multiselectable="false">
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".1s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a id="accordion1-card-head-aafskijv" data-bs-toggle="collapse"
                                    data-bs-parent="#accordion1" href="#accordion1-card-body-esuuimue"
                                    aria-controls="accordion1-card-body-esuuimue" aria-expanded="true" role="button">
                                    Organic drinks contain more antioxidants.

                                    <div class="card-arrow">
                                        <div class=""><i class="fa fa-chevron-circle-down"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse show" id="accordion1-card-body-esuuimue"
                            aria-labelledby="accordion1-card-head-aafskijv" data-bs-parent="#accordion1"
                            role="tabpanel">
                            <div class="card-body">
                                <p>There are many substances that can act as antioxidants; chief among them are
                                    vitamins A and C, as well as beta-carotene and manganese. A lack of
                                    antioxidant-rich foods can lead to a greater risk of atherosclerosis.</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".2s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ggahiken" data-bs-toggle="collapse"
                                    data-bs-parent="#accordion1" href="#accordion1-card-body-dlnhxjsq"
                                    aria-controls="accordion1-card-body-dlnhxjsq" aria-expanded="false" role="button">
                                    Organic drinks are better for the environment.

                                    <div class="card-arrow">
                                        <div class=""><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-dlnhxjsq"
                            aria-labelledby="accordion1-card-head-ggahiken" data-bs-parent="#accordion1"
                            role="tabpanel">
                            <div class="card-body">
                                <p>While you’re helping yourself be as healthy as can be, how about helping the
                                    environment and your fellow humans? Organic farming practices help conserve
                                    water and improve soil quality. Given the droughts we see occurring every
                                    year and the dire reports from environmental experts, these are no small
                                    reasons to go organic.</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".3s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-opmipvwr" data-bs-toggle="collapse"
                                    data-bs-parent="#accordion1" href="#accordion1-card-body-dgjqjdxo"
                                    aria-controls="accordion1-card-body-dgjqjdxo" aria-expanded="false" role="button">
                                    They’re higher in nutrients.

                                    <div class="card-arrow">
                                        <div class=""><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-dgjqjdxo"
                            aria-labelledby="accordion1-card-head-opmipvwr" data-bs-parent="#accordion1"
                            role="tabpanel">
                            <div class="card-body">
                                <p>Along with fewer pesticides, this is probably the No. 1 reason folks decide
                                    to eat organic. Studies have shown that organic drinks are often higher in
                                    vitamin C, iron, magnesium, and phosphorous than their non-organic
                                    counterparts.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="row row-30">
                    <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".2s">
                        <article class="box-icon-creative">
                            <div
                                class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                                <div class="unit-left">
                                    <div class="box-icon-creative-icon fl-bigmug-line-big104"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-creative-title">
                                        <a href="#">Free Shipping</a>
                                    </h5>
                                    <p class="box-icon-creative-text">Enjoy our fast &amp;free delivery</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                        <article class="box-icon-creative">
                            <div
                                class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                                <div class="unit-left">
                                    <div class="box-icon-creative-icon fl-bigmug-line-chat55"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-creative-title">
                                        <a href="#">Customer care</a>
                                    </h5>
                                    <p class="box-icon-creative-text">Always ready to help you</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4 wow fadeInLeft">
                        <article class="box-icon-creative">
                            <div
                                class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                                <div class="unit-left">
                                    <div class="box-icon-creative-icon fl-bigmug-line-like51"></div>
                                </div>
                                <div class="unit-body">
                                    <h5 class="box-icon-creative-title">
                                        <a href="#">Healthy &amp;energetic</a>
                                    </h5>
                                    <p class="box-icon-creative-text">Our drinks are very nutritious.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>