<section class="section section-xxl bg-image-1">
    <div class="container">
        <h2 class="text-transform-capitalize wow fadeScale">What People Say</h2>
        <div class="row row-sm row-30 justify-content-center">
            <div class="col-xl-9">
                <div class="slick-quote">
                    <!-- Slick Carousel-->
                    <div class="slick-slider carousel-parent" id="carousel-parent" data-autoplay="true"
                        data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel">
                        <div class="item">
                            <p class="quote-minimal-text">I’m very grateful to you for introducing me and my
                                whole family to your extensive range of smoothies and organic juices. We are
                                true fans and regular customers of your store!</p>
                        </div>
                        <div class="item">
                            <p class="quote-minimal-text">I am amazed and extremely satisfied by your smoothies,
                                their taste, and the customer service you provide to unexperienced clients who
                                know nothing about organic drinks.</p>
                        </div>
                        <div class="item">
                            <p class="quote-minimal-text">Your healthy drinks have a wonderful taste and the
                                amazing selection of their flavors is what really attracts me in your store.
                                Thank you for fast delivery and your fresh drinks!</p>
                        </div>
                    </div>
                    <div class="slick-quote-nav">
                        <div class="slick-slider child-carousel" id="child-carousel" data-arrows="true"
                            data-for="#carousel-parent" data-items="1" data-sm-items="1" data-md-items="3"
                            data-lg-items="3" data-xl-items="3" data-xxl-items="3">
                            <div class="item">
                                <div class="quote-minimal-figure">
                                    <img src="images/user-7-87x87.jpg" alt="" width="87" height="87" />
                                </div>
                                <div class="quote-minimal-author">Patrick Goodman</div>
                                <div class="quote-minimal-status">Client</div>
                            </div>
                            <div class="item">
                                <div class="quote-minimal-figure">
                                    <img src="images/user-8-87x87.jpg" alt="" width="87" height="87" />
                                </div>
                                <div class="quote-minimal-author">Kate Smith</div>
                                <div class="quote-minimal-status">Client</div>
                            </div>
                            <div class="item">
                                <div class="quote-minimal-figure">
                                    <img src="images/user-9-87x87.jpg" alt="" width="87" height="87" />
                                </div>
                                <div class="quote-minimal-author">Sam Wilson</div>
                                <div class="quote-minimal-status">Client</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>